.input-group
  = form.date_field("#{field_name}_date", class: "form-control")
  = form.time_field("#{field_name}_time", class: "form-control", step: 1)
  .input-group-append
    .input-group-text
      = Time.zone.name
