%h1
  Editing event #{@event.slug}
  = link_to({action: "show", id: @event.slug}, class: "btn btn-outline-danger") do
    Cancel
= form_with method: :post, url: {controller: "event", action: "edit"}, model: @event do |f|
  .form-group.row
    = label_tag(:name, "Name", class: "col-2 col-form-label")
    .col-10
      = f.text_field(:name, class: "form-control")
  -#TODO summary (markdown)
  .form-group.row
    = label_tag(:rel, "REL", class: "col-2 col-form-label")
    .col-10
      = f.select :rel, options_for_select([["Regular", "reg"], ["Competitive", "comp"], ["Professional", "prof"]], "reg")
  .form-group.row
    = label_tag(:announcement, "Publish on", class: "col-2 col-form-label")
    .col-10
      = render "event/aware_datetime_field", form: f, field_name: :announcement
  .form-group.row
    = label_tag(:mainboard_submissions, "Open mainboard submissions on", class: "col-2 col-form-label")
    .col-10
      = render "event/aware_datetime_field", form: f, field_name: :mainboard_submissions
  .form-group.row
    = label_tag(:sideboard_submissions, "Close mainboard submissions and open sideboard submissions on", class: "col-2 col-form-label")
    .col-10
      = render "event/aware_datetime_field", form: f, field_name: :sideboard_submissions
  .form-group.row
    = label_tag(:start, "Start on", class: "ol-2 col-form-label")
    .col-10
      = render "event/aware_datetime_field", form: f, field_name: :start
  .form-group.row
    = label_tag(:end, "End on", class: "col-2 col-form-label")
    .col-10
      = render "event/aware_datetime_field", form: f, field_name: :end
  .form-group.row
    .col-2
    .col-10
      = f.submit("Save", class: "btn btn-outline-primary")
