.row.results_summary
  .col-12
    - if @cards.present?
      #{pluralize(@cards.count, "card")} unimplemented cards
    - else
      All cards are implemented!
- @cards.each do |card, printings|
  .row.card_row
    .col-8.cardinfo
      %h3.card_title
        = link_to_card(card) do
          = card.name
        - legality = @ech.legality(card)
        - if legality.start_with? "restricted"
          = " "
          %i{class: "legality-restricted"} restricted in ECH
        - elsif legality.start_with? "banned"
          = " "
          %i{class: "legality-banned"} banned in ECH
    .col-2.cardinfo
      - votes = @exh.legality(card).split("-")[1].to_i
      = link_to({controller: "exh", action: "vote", name: card.name}, class: "legality-banned") do
        %i{class: (signed_in? && exh_card(card).voters.include?(current_user)) ? "voted" : ""}
          = "#{votes} vote#{votes == 1 ? "" : "s"}"
    .d-none.d-md-block.col-2
      = render 'card/printings_short', card: card, printings: printings_view(card, printings)
