%h1 Downloads
%h2#bcb Big Custom Box
%p
  The Big Custom Box includes all the files needed to play custom formats like
  = link_to "ECH", controller: "format", action: "show", id: "elder-custom-highlander"
  or
  = link_to "Custom Standard", controller: "format", action: "show", id: "custom-standard"
  using <a href="https://cockatrice.github.io/">Cockatrice</a>.
.row
  .col-sm-4
    %p Current version: #{@version}
  .col-sm-4
    %p The <strong>Full Install</strong> boxes come with a portable version of Cockatrice for Windows and are recommended for new players. Just download, unzip, and run cockatrice.exe.
  .col-sm-4
    %p Get a box with <strong>Loose Files</strong> instead if you're on Mac or Linux or if you prefer to add the files to your existing copy of Cockatrice. Please read the included install instructions.
.row
  .col-sm-4
    %p If you use an <strong>Images on Demand</strong> box, Cockatrice will download each card's image the first time it's shown. This is recommended for most players as it decreases the size of the initial download.
  .col-sm-4
    %a{class: "btn btn-outline-primary", href: "/download/trice.zip"}
      Full Install, Images on Demand
    -#TODO show Cockatrice version info
  .col-sm-4
    %a{class: "btn btn-outline-primary", href: "/download/bcb.zip"}
      Loose Files, Images on Demand
.row
  .col-sm-4
    %p Get a box with <strong>Bundled Images</strong> instead if you intend to do offline deckbuilding.
  .col-sm-4
    %a{class: "btn btn-outline-primary", href: "/download/trice-img.zip"}
      Full Install, Bundled Images
    -#TODO show Cockatrice version info
  .col-sm-4
    %a{class: "btn btn-outline-primary", href: "/download/bcb-img.zip"}
      Loose Files, Bundled Images
%h2#xmage XMage
%p
  This is a custom build of <a href="http://xmage.de/">XMage</a> which includes
  = link_to "some", controller: "xmage", action: "news"
  of the custom cards. It can be used to play
  = link_to "EXH", controller: "format", action: "show", id: "elder-xmage-highlander"
  or variants of other custom formats.
%p
  %a{class: "btn btn-outline-primary", href: "/download/xmage.zip"}
    Download Custom XMage
