%h1 Preferences
= form_with url: {controller: "session", action: "preferences"}, model: @user do |f|
  = label_tag(:sort, "Default sorting")
  = f.text_field(:sort)
  = label_tag(:sort, "Default view")
  = f.select(:view, options_for_select(@views.map{|view| [view, view] }, @user.view))
  = f.text_field(:view)
  = f.submit("Save")
