%h1 Preferences
= form_with method: :post, url: {controller: "session", action: "preferences"}, model: @user do |f|
  .form-group.row
    = label_tag(:sort, "Default sorting", class: "col-sm-2 col-form-label")
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text sort:
        = f.text_field(:sort, class: "form-control", placeholder: "default")
      %small.form-text
        See
        = link_to({controller: "help", action: "syntax"}) do
          Syntax Help
        for details.
  .form-group.row
    = label_tag(:sort, "Default view", class: "col-sm-2 col-form-label")
    .col-sm-10
      = f.select(:view, options_for_select(@views.map{|view| [view, view] }, @user.view), {}, {class: "form-control custom-select"})
  .form-group.row
    .col-sm-2
    .col-sm-10
      = f.submit("Save", class: "btn btn-outline-primary")
